<!DOCTYPE html>
<html ng-app="website">
    <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    </head>
    <body ng-controller="WebsiteController as website">
        <div class="page-header">
            <h1>{{website.person.name}}<small> Technology Professional</small></h1>
        </div>
        
        <div>
            <h1>{{website.person.name}}</h1>
            <h2>{{website.person.title}}</h2>
            <p>{{website.person.email}} || {{website.person.phone}}</p>
            <p><img ng-src="{{website.person.image}}"/></p>
        </div>
            <section>
                <ul class="nav nav-tabs">
                    <li> <a href ng-click="tab = 1">About</a> </li>
                    <li> <a href ng-click="tab = 2">Experience</a> </li>
                    <li> <a href ng-click="tab = 3">Contact</a> </li>
                </ul>
                {{tab}}
            </section>
        
        <div class="container">
            <img ng-src="{{media.image}}" 
            alt="{{media.name}}" 
            ng-repeat="media in website.media" 
            ng-click="openInNewWindow({{media.url}})"
        </div>
        
        <h1>My Thoughts</h1>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="blog in website.blog">
                <h2>{{blog.title}}</h2>
                <p>{{blog.snippet}}</p>
            </li>
        </ul>
        
        <script type="text/javascript" src="angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>

<!-- Tutorial Source: http://campus.codeschool.com/courses/shaping-up-with-angular-js/ -->